body{
    background-color: darkgrey;
}
.btn{
    background-color: cadetblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
}
#btn_no{
    margin: 2em;
    left: 6%;
    top: 8.3%;
}
#btn_si{
    margin: 1em;
}